<h2>Products</h2>

<div class="main">
<div *ngFor="let product of products">
  <h3>
    <a 
    [href]="product.url" target="_blank"
    [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>
  <img [src]="product.img_url" alt="phone" width="300px">
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
    <p *ngIf="product.price" class = price>
      price: {{product.price}} ₸
    </p>
  <button type="button" (click)="share()">
    Share
  </button>
  


  
</div>
</div>