*{
    margin: 0;
    padding: 0;
}
input {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
    font-size: 16px;
}

.heaad{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000;
    padding-left: 80px;
    color: #fff;
    font-size: 20px;
}
.todo{
    margin-left: 400px;
    font-size: 30px;
    margin-top: 60px;
}   


input{
    margin-left: 460px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid rgb(98, 97, 97);
    padding: 6px 200px 6px 10px;
}
.add{
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid rgb(98, 97, 97);
    padding: 6px 8px 6px 8px;
    background-color: #337ab7;
    color: #fff;
    transition: all 0.1s;

    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.add:hover{
    cursor: pointer;
    background-color: #0f5c9f;
}

.myul{
    background-color: #eee;
    margin-left: 460px;
    width: 405px;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;
}
ul li:hover {
    background: #ddd;
}

ul li .checked{
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover {
    background-color: #f44336;
    color: white;
}
